@use "../shared.scss" as *;

#About {
  .hero {
    background-image: url(/img/bg/louise.jpg);
    background-position: bottom;
    height: 100vh;
    justify-content: flex-start;
    // background-image: url(/img/bg/landscape-2.jpg);
    // height: max(600px, 50vh);
    .hero-content {
      align-items: center;
      color: $dark;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3rem 0;
      text-align: center;

      h1 {
        font-size: 3rem;
        margin: min(10vh, 7rem) 0 0.25em;
        @include bp(xl) {
          font-size: 4rem;
          margin-top: min(3vh, 6vw);
        }
        @include bp(2xl) {
          font-size: 5rem;
          // margin-top: 5vh;
        }
      }

      p,
      .navigate-btn {
        font-size: 1.1rem;
        font-weight: 500;
        font-family: $sans-serif;
      }
    }

    .hero-fade-top {
      background: linear-gradient(to bottom, #fffd 0%, #fffa 25%, #fff0 100%);
      height: 120px;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .hero-caption {
      bottom: 0;
      left: 0;
      max-width: 1920px;
      position: absolute;
      width: 100%;
      p {
        color: #1c1d21;
        font-family: Archivo, Arial, sans-serif;
        font-size: 1rem;
        font-weight: 500;
        margin: 2.5rem;
        transform: rotate(270deg);
        transform-origin: bottom left;
        @include bp(2xl) {
          font-size: 1.25rem;
          margin: 4vh;
        }
      }
      svg {
        margin-right: 0.5rem;
      }
    }

    .navigate-btn-abs-bottom {
      bottom: 5vh;
      z-index: 10;
      .navigate-button {
        .navigate-btn,
        svg {
          color: $dark;
        }
      }
    }

    .hero-fade-bottom {
      background: linear-gradient(to bottom, #0000 0%, $dark 90%);
      bottom: 0;
      height: 10vh;
      position: absolute;
      width: 100%;
    }
  }

  .navigate-button {
    align-items: center;
    animation: fadeIn 1500ms ease 750ms forwards,
      opacityPulse 1.5s ease-in-out 1250ms infinite;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    opacity: 0;

    .navigate-btn {
      color: $light-3;
      font-family: $sans-serif;
      font-size: 1rem;
      padding: 0;
    }
    svg {
      color: $light-3;
      font-size: 1.15rem;
      position: relative;
      transition: all 500ms;
    }
    .svg-container {
      height: 1.5rem;
    }
    &.up {
      svg {
        top: 0.4rem;
      }
    }
    &:hover {
      animation-play-state: paused;
      opacity: 1 !important;
      .navigate-btn {
        opacity: 1 !important;
      }
      svg {
        font-size: 1.5rem;
      }
      &.up {
        svg {
          top: 0rem;
        }
      }
    }
  }

  .navigate-btn-abs-bottom {
    bottom: 1.5rem;
    position: absolute;
  }

  //
  // ABOUT PAGE CONTENT
  //
  .page-content {
    color: $light;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $louise;
    }

    position: relative;
  }

  .about-section {
    @include flex(row, 3rem);

    align-items: center;
    height: 100vh;
    justify-content: center;

    .alt,
    strong {
      color: $louise;
      font-weight: 600;
      svg {
        margin-left: 0.25rem;
      }
    }
    a.alt:hover {
      @include lighten($louise, 10%);
    }

    .section-content {
      @include flex(column, 0);
      max-width: max(30vw, 520px);
      @include bp(2xl) {
        max-width: 1000px;
      }

      h3 {
        color: $light;
        font-size: 2.25rem;
        margin-bottom: 0.75em;
        @include bp(2xl) {
          font-size: 3rem;
        }
      }
      p,
      ul {
        font-family: $sans-serif;
        letter-spacing: 0.025rem;
        font-size: 1.05rem;
        line-height: 1.4;
        margin-bottom: 0.5em;
        svg {
          font-size: 0.75em;
        }
        @include bp(2xl) {
          font-size: 1.4rem;
        }
      }
      li {
        font-family: $sans-serif;
        @include bp(2xl) {
          font-size: 1.4rem;
        }
      }
    }

    .carousel-caption-container {
      bottom: 0;
      right: -3.25rem;
      position: absolute;
      overflow: visible;
      white-space: nowrap;
      width: 1px;
    }

    .carousel-caption {
      color: $light-2;
      font-family: $sans-serif;
      margin: 0;
      transform: rotate(270deg);
      transform-origin: top;

      .fig,
      svg {
        color: $louise;
        margin-right: 0.25rem;
      }
      svg {
        font-size: 0.9em;
      }

      @include bp(2xl) {
        font-size: 1.1rem;
        .fig,
        svg {
          margin-right: 0.5rem;
        }
        svg {
          font-size: 1rem;
        }
      }
    }

    &.reverse {
      flex-direction: row-reverse;
      .carousel-caption-container {
        left: 5px;
      }
      .carousel-caption {
        transform: rotate(270deg);
        transform-origin: top left;
      }
    }

    &.about-4 {
      flex-direction: column;
      gap: 2rem;
    }
  }

  //
  // TODO: forgot to move this into the <Footer />. Do that when About work is done.
  //

  .action-row {
    display: flex;
    flex-direction: row;

    h4,
    svg {
      color: $light;
      font-weight: 500;
      margin: 0;
    }

    .item {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
  }

  .social-icon {
    align-items: center;
    display: flex;
    gap: 5px;
    text-decoration: none;

    svg.goto {
      opacity: 0;
      height: 10px;
      position: relative;
      left: -7px;
      top: -7px;
      transition: all 125ms;
    }

    &:hover {
      h4,
      svg {
        color: $light-1;
        transition: color 250ms;
      }

      svg.goto {
        opacity: 1;
        transition: all 250ms;
        transition-delay: 250ms;
      }
    }
  }
}
