@use "../shared.scss" as *;

#About {
  .hero {
    background-image: url(/img/about/louise.jpg);
    background-position: bottom;
    height: 100vh;
    justify-content: flex-start;
    // background-image: url(/img/bg/landscape-2.jpg);
    // height: max(600px, 50vh);
    .hero-content {
      align-items: center;
      color: $dark;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3rem 0;
      text-align: center;
      h1 {
        font-size: 4rem;
        margin: min(10vh, 7rem) 0 max(2.5vh, 2rem);
      }
      .scroll-link-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        // background: #f0f2;
        opacity: 0;
        animation: fadeIn 1500ms ease 750ms forwards,
          scrollLinkPulse 1.5s ease-in-out 1250ms infinite;
        button.scroll-link {
          color: $dark;
          font-family: $sans-serif;
          font-size: 1.25rem;
          padding: 0;
        }
        svg {
          color: $dark;
          font-size: 1.5rem;
          position: relative;
          top: 0.75rem;
          transition: all 500ms;
        }
        &:hover {
          animation-play-state: paused;
          opacity: 1 !important;
          button.scroll-link {
            color: $dark !important;
          }
          svg {
            font-size: 2rem;
            top: 1rem;
          }
        }
      }

      @keyframes scrollLinkPulse {
        0%,
        100% {
          opacity: 1;
        }
        50% {
          opacity: 0.6;
        }
      }
    }
    .hero-fade-top {
      background: linear-gradient(to bottom, #fffd 0%, #fffa 25%, #fff0 100%);
      height: 120px;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .hero-fade-bottom {
      background: linear-gradient(to bottom, #0000 0%, $dark 99%);
      bottom: 0;
      height: 200px;
      position: absolute;
      width: 100%;
    }
  }

  .page-content {
    color: $light;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $louise;
    }

    position: relative;
  }

  .about-section {
    @include flex(row, 5rem);

    align-items: center;
    justify-content: center;
    padding: 15vh 0;

    .section-content {
      @include flex(column, 0);
      h3 {
        font-size: 2.75rem;
      }
      p {
        font-size: 1.25rem;
      }
      max-width: 40vw;
    }
  }

  .carousel-img {
    background: #f0f2;
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: calc(25vh * (9 / 16));
    display: flex;
  }

  //
  // TODO: forgot to move this into the <Footer />. Do that when About work is done.
  //

  .action-row {
    display: flex;
    flex-direction: row;

    h4,
    svg {
      color: $light;
      font-weight: 500;
      margin: 0;
    }

    .item {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
  }

  .social-icon {
    align-items: center;
    display: flex;
    gap: 5px;
    text-decoration: none;

    svg.goto {
      opacity: 0;
      height: 10px;
      position: relative;
      left: -7px;
      top: -7px;
      transition: all 125ms;
    }

    &:hover {
      h4,
      svg {
        color: $light-1;
        transition: color 250ms;
      }

      svg.goto {
        opacity: 1;
        transition: all 250ms;
        transition-delay: 250ms;
      }
    }
  }
}
