@use "../shared.scss" as *;

#About {
  // background-color: $light;
  // background-image: url(/img/bg/paper.png);

  .hero {
    background-image: url(/img/bg/landscape-2.jpg);
    height: max(600px, 50vh);
    justify-content: flex-start;
    .hero-content {
      color: $dark;
      justify-content: center;
      padding: 3rem 0;
      text-align: center;
      h1 {
        font-size: 3.5rem;
        margin: 0;
      }
    }
  }

  .page-content {
    color: $mint;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $mint;
    }

    position: relative;
    .edit-btn-container {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }

  .action-row {
    display: flex;
    flex-direction: row;

    h4,
    svg {
      color: $light;
      font-weight: 500;
      margin: 0;
    }

    .item {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
  }

  .social-icon {
    align-items: center;
    display: flex;
    gap: 5px;
    text-decoration: none;

    svg.goto {
      opacity: 0;
      height: 10px;
      position: relative;
      left: -7px;
      top: -7px;
      transition: all 125ms;
    }

    &:hover {
      h4,
      svg {
        color: $light-1;
        transition: color 250ms;
      }

      svg.goto {
        opacity: 1;
        transition: all 250ms;
        transition-delay: 250ms;
      }
    }
  }

  img {
    width: 100%;
    /* border-radius: 350px; */
    /* width: 350px; */
  }
}
