@use "../shared.scss" as *;

/**
 * DESK STYLES
 * -----------
 * - Styles for the Desk that the Typewriter sits on, as well as the Candles.
 * - Note that the Desk receives HEAVY JavaScript resizing in `useDeskSize.ts`.
 */

$candle-bottom: 210px;
$candle-container-bottom: 100px;

#Desk {
  bottom: 0px;
  display: flex;
  height: 420px;
  position: relative;
  transform-origin: bottom;
  width: 1200px;
}

#Desk-items {
  align-items: flex-end;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#Desk-surface-container {
  perspective: 1200px;
  position: absolute;
  width: 1200px;
  z-index: 0;
}

#Desk-surface {
  background: $desk-color;
  border: 4px solid $dark;
  border-radius: 2rem;
  height: 420px;
  left: -3px;
  position: absolute;
  top: 85px; // account for perspective shift
  transform: rotateX(69deg);
  transform-style: preserve-3d;
  width: 1200px;
  z-index: 0;
}

#CandlesRight,
#CandlesLeft {
  bottom: var(--candle-container-bottom, $candle-container-bottom);
  transition: bottom $drawer-transition-speed;
}

#CandlesLeft {
  display: flex;
  gap: 30px;
  zoom: 40%;
  align-items: flex-end;
  position: relative;
}

#CandlesRight {
  display: flex;
  gap: 20px;
  zoom: 40%;
  align-items: flex-end;
  position: relative;
}

.candle {
  width: var(--candle-width, 34px);
  margin: 0 auto; /* Remove top margin since we're aligning at container level */
  position: relative;
  height: var(--candle-height, 80%);
  bottom: calc($candle-bottom + var(--candle-bottom, 0));
  z-index: 2;
  // bottom: calc(200px + var(--candle-bottom, 0));
  /* Removed infinite blink animation - performance killer */
  /* -webkit-animation: blink 0.1s infinite;
  animation: blink 0.1s infinite; */
  /* overflow: hidden; Prevent any child elements from overflowing */

  &:nth-of-type(2) .flame {
    animation-delay: 500ms;
  }

  &:nth-of-type(3) .flame {
    animation-delay: 1200ms;
  }
}

.wick {
  position: absolute;
  width: 6px;
  height: 50px;
  background: #23161a;
  top: 110px;
  left: 50%;
  transform: translateX(-50%) skewX(2deg);
  border-radius: 10%;
  box-shadow: 0 0 2px 0px black;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    left: 50%;
    height: 10px;
    /* Simplified box-shadow chain - reduced from 4 to 2 */
    box-shadow: 0 -14px 10px 8px white, 0 -10px 10px 8px rgba(255, 215, 0, 0.7);
  }

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0px;
    height: 0px;
    /* Simplified box-shadow chain - reduced from 6 to 3 */
    box-shadow: 0 5px 2px 3px gold, 0 20px 2px 14px gold,
      0 -6px 4px 5px rgba(98, 33, 27, 0.8);
  }
}

.flame {
  width: 20px;
  height: 150px;
  margin: 0px auto;
  position: relative;
  /* Reduced to single animation - performance improvement */
  -webkit-animation: move 3s infinite;
  animation: move 3s infinite;
  transform-origin: 50% 90%;

  .top {
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border-top-left-radius: 500%;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 500%;
    border-bottom-right-radius: 50px;
    transform: skewY(-10deg);
    /* Simplified box-shadow chain - reduced from 7 to 4 */
    box-shadow: 0 0px 0px 3px white, 0 -20px 1px 4px white, 0 -25px 2px 3px gold,
      0 -30px 5px 4px #ff6a00;
    /* Removed infinite animation - performance killer */
    /* -webkit-animation: flame-up 4s infinite;
    animation: flame-up 4s infinite; */
  }

  .shadows {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 60px;
    border-radius: 50%;
    /* Simplified box-shadow chain - reduced from 6 to 3 */
    box-shadow: 0 5px 20px 15px gold, 0 0px 100px 20px #ff6a00,
      0 15px 50px 15px #ff6a00;
  }

  .bottom {
    transform: scale(0.9);
    position: absolute;
    bottom: 6px;
    left: 9px;
    width: 1px;
    height: 8px;
    border-radius: 1%;
    background: #2c2b39;
    /* Simplified box-shadow chain - reduced from 11 to 4 */
    box-shadow: 0 6px 10px 12px rgba(60, 76, 125, 0.3), 0 0px 4px 8px #2c2b39,
      0 -12px 10px 8px rgba(255, 106, 0, 0.5), 0 5px 7px 12px #2c2b39;
  }
}

.wax {
  position: absolute; /* Change from relative to absolute */
  bottom: 0; /* Position at bottom instead of using top */
  width: 100%;
  height: calc(var(--candle-height) - 166px);
  background: $light;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #e8d6b8 0px,
    $light 20px,
    #f2e0c2 50px
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9224", endColorstr="#58523a",GradientType=0 );
  /* IE6-9 */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &::after {
    content: " ";
    background: linear-gradient(to bottom, #e8d6b8 0%, #f2e0c2 100%);
    width: 54px;
    height: 10px;
    display: block;
    bottom: 0;
    border-radius: 2px 2px 0 0;
    position: absolute;
    left: -2px;
  }
}

@-webkit-keyframes move {
  0% {
    transform: skewX(2deg) skewY(5deg);
  }
  50% {
    transform: skewX(-2deg) skewY(0deg);
  }
  100% {
    transform: skewX(2deg) skewY(5deg);
  }
}

@keyframes move {
  0% {
    transform: skewX(2deg) skewY(5deg);
  }
  50% {
    transform: skewX(-2deg) skewY(0deg);
  }
  100% {
    transform: skewX(2deg) skewY(5deg);
  }
}

.candle-base-container {
  justify-content: center;
  align-items: center;
  background: $dark;
}

.candle-base {
  // bottom: 220px;
  transform: rotateX(70deg);
  height: 400px;
  width: 400px;
  background: linear-gradient(
    #403232 0%,
    #404030 10%,
    #202424 50%,
    #303030 100%
  );
  border-radius: 50%;
  left: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;

  &::before {
    content: "";
    height: 360px;
    width: 360px;
    background: linear-gradient(#403131 0%, #030404 60%, #0d0202 100%);
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 360px;
    height: 300px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    bottom: -20px;
    z-index: -1;
    filter: blur(10px);
  }
}

#MobileHomeContent {
  display: none; // overridden in _mobile.scss
}
