.loading-bar-root {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.loading-bar-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: transform 0.2s linear;
  transform-origin: left;
}

.loading-bar-indeterminate1 {
  width: auto;
  animation: loading-bar-indeterminate1 2.1s
    cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.loading-bar-indeterminate2 {
  width: auto;
  animation: loading-bar-indeterminate2 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    1.15s infinite;
}

@keyframes loading-bar-indeterminate1 {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes loading-bar-indeterminate2 {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

