@use "sass:color";
@use "../shared.scss" as *;

// ========================
//   PROJECTS PAGE STYLES
// ========================

$color-lightness: 15%;
$color-lightness-2: 30%;
$primary-color: $sienna;
$content-max-width: 1200px;
$color-alt: color.adjust($primary-color, $lightness: 15%);
$color-alt2: color.adjust($primary-color, $lightness: 30%);

#Projects {
  color: $light;
  font-family: $serif;
  position: relative;

  // Page BG: circuit board pattern (darkened)
  background-blend-mode: lighten;
  background-image: url(/img/bg/circuit-board.svg);
  @include alpha-prop(background-color, $dark, -0.1);

  @include bp(mobile) {
    background-image: none;
  }

  // =================
  //  SHARED ELEMENTS
  // =================
  h4 {
    text-transform: uppercase;
  }

  h4,
  h6 {
    color: $color-alt;
    font-weight: 600;
  }

  .disc {
    background-color: transparent;
    border: 2px solid $light;
    border-radius: 10px;
    display: inline-block;
    flex-shrink: 0;
    height: 0.25rem;
    margin-right: 0.5rem;
    position: relative;
    top: -2px;
    width: 0.25rem;
  }

  select {
    border: 1px solid;
    border-color: $color-alt;
    border-radius: 0.33rem;
    color: $light;
    font-size: 0.9rem;
    @include alpha-prop(background-color, $dark, -0.5);
    font-family: $serif;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    width: 100%;

    // Custom arrow
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23ffefd5' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus,
    &:focus-within {
      outline: none;
      border: 1px solid $sienna;
    }
  }

  // ===========
  //  PAGE HERO
  // ===========
  .hero {
    background-blend-mode: multiply;
    background-image: url(/img/bg/code.jpg);
    @include alpha-prop(background-color, $dark, -0.33);

    @include bp(non-desktop) {
      height: 11rem;
    }

    .hero-content {
      h1 {
        margin-bottom: 1rem;
      }
    }

    .hero-action {
      @include flex(row, 0.75rem);
      align-items: center;
      height: 1.5rem;

      @include bp(tablet) {
        // justify-content: space-between;
      }

      .hero-action--buttons {
        @include flex(row, 1rem);

        &.list {
          button:nth-of-type(2) {
            display: none;
          }
          @include bp(desktop) {
            button {
              display: none;
            }
          }
        }
      }

      p,
      button {
        color: $light-1;
        font-family: $sans-serif;
        font-size: 1rem;

        @include bp(2xl) {
          font-size: 1.1rem;
        }
      }

      p {
        margin: 0;
        line-height: 1;
      }

      button {
        background: #0000;
        border: 0;
        color: $light-1;
        cursor: pointer;
        display: flex;
        // font-weight: 500;
        gap: 0.25em;
        width: auto;

        svg {
          width: 1.5em;
        }

        &:first-of-type {
          &.active {
            svg {
              position: relative;
              left: 1px;
            }
          }
        }

        &:hover {
          text-decoration: underline;
        }

        &.active {
          color: $color-alt;
        }

        @include bp(tiny) {
          .btn-text {
            display: none;
          }
        }

        /* DEAD
        align-items: center;
        background: transparent;
        border: none;
          */
      }
    }

    h1 {
      a {
        color: $color-alt;
        text-decoration: none;
        transition: color 240ms;
        &:hover {
          color: $color-alt2;
        }
      }
    }

    #EditProjectBtn {
      position: absolute;
      right: 1.25rem;
    }

    // @include bp(non-desktop) {
    //   .hero-content {
    //     h1 {
    //       margin-bottom: 0;
    //     }
    //   }
    //   p {
    //     display: none;
    //   }
    //   .hero-action {
    //     display: none;
    //   }
    // }
  }

  // ==============
  //  PAGE CONTENT
  // ==============
  .content {
    @include flex(column, 0);
    position: relative;
    padding-bottom: 5rem;

    @include bp(desktop) {
      flex-direction: row;
      gap: 2.5rem;
    }

    h3:first-of-type {
      margin-top: 0;
      margin-bottom: 0.75em;

      @include bp(mobile) {
        font-size: 1.75rem;
        line-height: 1.25;
      }
    }

    ul {
      padding-left: 0.5rem;

      li {
        align-items: baseline;
        display: flex;
        gap: 0.25rem;
        list-style: none;

        a {
          color: $light-1;
          &:hover {
            color: $light-3;
          }
          &:visited {
            color: $light-5;
          }
        }

        .goto {
          font-size: 0.75em;
        }

        .link {
          align-items: center;
          display: flex;
          gap: 0.5rem;
        }
      }
      &.tech {
        @include flex(row, 1rem);
        padding-left: 0;
      }
    }
  }

  // ==========================
  //  PAGE CONTENT | LEFT SIDE
  // ==========================
  .content--main {
    flex-grow: 1;

    .cms-html {
      max-width: $content-max-width;

      // TODO: eh?
      @include bp(2xl) {
        transform: scale(1.1);
        transform-origin: top left;
      }
    }

    ul:not(.tech) {
      @include flex(column, 0.5rem);
      padding: 0 0 0 0.5rem;
    }
  }

  // ===========================
  //  PAGE CONTENT | RIGHT SIDE
  // ===========================
  .content--sidebar {
    @include flex(column, 0);
    flex-shrink: 0;

    // ONLY ON DESKTOP does this GET a width
    // ON MOBILE, it FLOWS vertically right after `content`
    @include bp(desktop) {
      width: 350px;
    }

    // Container for the filters
    .content--sidebar-filters {
      &.loading {
        opacity: 0.5;
        pointer-events: none;
      }

      @include bp(non-desktop) {
        display: none;
      }
    }

    ul.tech {
      margin: 0.5rem 0 1rem;

      @include bp(non-desktop) {
        margin-bottom: 1.25rem;
      }
    }

    .company-img {
      margin-bottom: 0.5rem;
      height: 2rem;
      width: fit-content;

      @include bp(non-desktop) {
        height: 2.5rem;
        margin-top: 2rem;
        max-width: 200px;
        width: 100%;
      }
    }
    .company-info {
      margin-bottom: 1.25rem;
    }
  }

  // =================
  // LIST VIEW STYLES
  // =================
  #ProjectList {
    @include flex(column, 3rem);
    position: relative;

    .project-group {
      @include flex(column, 1rem);
      max-width: $content-max-width;
      padding-left: 3rem;
      position: relative;

      @include bp(non-desktop) {
        padding-left: 1.5rem;
      }
    }

    .project-group--years {
      background: linear-gradient(
        to right,
        #0000 0%,
        $dark 5%,
        $dark 95%,
        #0000 100%
      );
      border-radius: 1rem;
      color: $light-2;
      font-family: $sans-serif;
      left: 0;
      padding: 0.25rem 0.5rem;
      position: absolute;
      top: calc(50% + 5rem);
      transform: rotate(270deg);
      transform-origin: 0 0;

      @include bp(non-desktop) {
        left: -11px;
      }
    }

    .project-group--timeline {
      background: linear-gradient(
        to bottom,
        #0000 0px,
        $light-2 0.5%,
        $light-2 99.5%,
        #0000 100%
      );
      height: 100%;
      left: 14px;
      position: absolute;
      width: 2px;

      @include bp(non-desktop) {
        left: 0;
      }
    }

    .project-group--label {
      align-items: center;
      @include flex(row, 0.5rem);

      .project-group--text {
        @include flex(row, 0.5rem);
        white-space: nowrap;
      }

      p {
        color: $light-1;
        font-family: $sans-serif;
        letter-spacing: 0.025rem;
        margin: 0;

        strong {
          font-weight: 600;
        }
      }

      @include bp(non-desktop) {
        align-items: flex-start;

        img {
          height: 2.5rem;
        }
        p {
          line-height: 1.25;
        }

        .project-group--text {
          @include flex(column, 0);

          .shop {
            font-weight: 600;
            font-size: 1.1rem;
          }

          .pipe {
            display: none;
          }
        }
      }
    }

    .project-group--content {
      @include flex(column, 1rem);
      flex-grow: 1;
    }

    .project-card {
      border: 2px solid;
      border-radius: 0.5rem;
      cursor: pointer;
      padding: 1rem;
      position: relative;
      transition: background-color 250ms, border-color 250ms;

      @include flex(column, 0.25rem);
      @include lighten-prop(border-color, $garnet, $color-lightness-2);

      .view-project {
        font-size: 0.9em;
        opacity: 0;
        position: absolute;
        right: 1rem;
        top: 1.25rem;
        transition: opacity 250ms;

        @include bp(non-desktop) {
          display: none;
        }

        svg {
          font-size: 0.8em;
          margin-left: 0.25em;
        }
      }

      &:hover {
        @include alpha-prop(background-color, $light, -0.95);
        @include alpha-prop(border-color, $light, -0.5);
        .view-project {
          opacity: 1;
        }
      }
    }
  }

  // =================
  //  PROJECT FILTERS
  // =================
  #ProjectFilters {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    input[type="radio"] {
      appearance: none;
      opacity: 0;
      pointer-events: none;
    }

    label {
      color: $light-2;
      cursor: pointer;
      font-family: $sans-serif;
      font-weight: 500;
      margin-bottom: 0.25rem;
      transition: color 125ms;

      &:hover {
        color: $light-1;
      }
    }

    select {
      margin-bottom: 0.75rem;
    }

    .filter-group {
      @include bp(desktop) {
        padding-right: 3rem;
      }
      &:not(:last-of-type) {
        border-bottom: 1px solid $light-8;
        padding-bottom: 0.5rem;
      }

      button {
        background: #0000;
        border: 0;
        color: $light-2;
        cursor: pointer;
        font-family: $sans-serif;
        font-size: 0.9rem;
        &:hover {
          text-decoration: underline;
        }
      }

      legend {
        @include flex(row, 1.5rem);
        align-items: baseline;
        margin: 0 0 0.75rem;

        // @include flex(row, 0);
        // justify-content: space-between;

        @include bp(non-desktop) {
          gap: 1rem;
          justify-content: flex-start;
        }
      }
    }

    .filter-options {
      @include flex(column, 0.25rem);
    }

    .tech-field {
      @include flex(row, 0.25rem);
      align-items: center;
      width: fit-content;

      input[type="checkbox"] {
        border-color: $light-5;
        &:hover {
          background-color: $light-8;
        }

        &:checked {
          background: $light-8;
        }
      }

      &.checked {
        color: $light;
        &:hover {
          color: $light-1;
        }
      }
      &:not(.checked) {
        color: $light-4;
        &:hover {
          color: $light-2;
        }
      }

      .tech-field--icon {
        color: $light;
        display: flex;
        justify-content: center;
        transform: scale(0.9);
        width: 2rem;
      }
    }

    .radio-field {
      @include flex(row, 0.25rem);
      align-items: center;

      .disc {
        border-color: $light-4;
        border-radius: 1rem;
        height: 1rem;
        margin: 0;
        width: 1rem;
      }

      $pad: 0.25rem;
      $siz: 0.5rem;
      .disc-inner {
        border-radius: 1rem;
        position: relative;
        height: $siz;
        left: $pad;
        top: $pad;
        width: $siz;
      }

      &.checked {
        color: $light;

        .disc:hover {
          background-color: $light-8;
        }
        .disc-inner {
          background: $light;
        }
      }

      &:hover {
        .disc {
          background-color: $light-8;
        }
      }

      .radio-field--icon {
        display: flex;
        justify-content: center;
        width: 1.5rem;

        img {
          height: 25px;
        }
      }

      #radio-field--icon-phosphorus img {
        border-radius: 1rem;
      }

      #radio-field--icon-foxfuel {
        position: relative;
        top: -3px;
      }
    }
  }

  // ================================
  //   PROJECT SELECT | MOBILE ONLY
  // ================================

  /*
  DEAD 
  #ProjectActionsMobile {
    align-items: flex-end;
    height: 5rem;
    justify-content: space-between;
    position: relative;
    @include flex(row, 1rem);

    @include bp(desktop) {
      display: none;
    }
  }

  #ProjectSelect {
    flex-grow: 1;

    label {
      font-family: $sans-serif;
      margin: 0.5rem 0 0.75rem;
      display: block;
    }

    select {
      border-radius: 0.75rem;
      font-size: 1.15rem;
      height: 2.25rem;
      margin: 0;
      padding-right: 2rem;

      @include bp(bp-tiny) {
        font-size: 0.9rem;
      }
    }
  }
  */

  .view-all-projects-mobile {
    // position: absolute;
    // right: 0;
    // bottom: 3rem;
    // a {
    color: $light-1;
    font-family: $sans-serif;
    font-weight: 500;
    // }

    @include bp(desktop) {
      display: none;
    }
  }

  // ======================================
  //   SELECT PROJECT PANEL | DESKTOP ONLY
  // ======================================
  $ProjectPanel-width: 325px;
  $ProjectPanel-width: min(325px, 100vw);
  $ProjectPanel-left-shown: -1.5rem;
  $ProjectPanel-left-hidden: calc(calc($ProjectPanel-width * -1) - 4.5rem);

  #ProjectPanel {
    @include flex(column, 0.5rem);

    background: $dark-1;
    box-shadow: 8px 0px 1rem -0.25rem rgba(0, 0, 0, 0.75);

    // Old
    // height: max(calc(100vh - 261px), calc(100% - 2rem));
    // overflow: hidden;
    // padding: 0.5rem 0 1.5rem 100vw;

    // New
    height: max(100vh - 243px, 100% - 2rem);
    overflow: hidden;
    padding: 1rem 0 0.5rem 100vw;

    position: absolute;
    top: 0;
    transition: left 250ms, opacity 250ms;
    white-space: nowrap;
    width: $ProjectPanel-width;

    &.shown {
      left: calc(-100vw + 1.5rem);
      opacity: 1;
    }
    &.hidden {
      left: calc(-100vw - 325px - 3rem);
      opacity: 0;
    }

    a,
    button {
      letter-spacing: 0.025em;
      font-family: $sans-serif;

      &:hover {
        color: $light-2;
        svg {
          color: $light-2;
        }
      }
    }

    a {
      color: $color-alt;
      width: fit-content;
      &:not(:hover) {
        text-decoration: none;
      }
    }

    button {
      align-items: center;
      background: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      gap: 0.25rem;

      svg {
        transition: color 125ms;
      }

      &.project-filter-button {
        color: $color-alt;
        padding: 0;
        width: 7rem;

        &:hover {
          color: $light-1;
          text-decoration: underline;
        }

        svg {
          position: relative;
          top: -2px;
        }
      }

      &.hide-projects {
        color: $color-alt;
        font-size: 1.25rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 1rem;
      }
    }

    ul {
      padding: 0;
      li {
        flex-direction: column;
      }
    }

    .project-filter-actions {
      @include flex(row, 1rem);
      align-items: center;
      height: 2rem;
    }

    .project-filter-tree {
      margin-top: 0.5rem;
    }

    .panel-content {
      // height: min(20rem, 50vh);
      height: calc(100vh - 250px);
      overflow: scroll;
      transition: height 250ms;

      h4 {
        // margin: 0.5rem 0 0;
      }

      // hr {
      // margin: 0.5rem 0.5rem 0.5rem 0;
      // }
    }

    .MuiRichTreeView-root {
      .MuiCollapse-root {
        .MuiTreeItem-content {
          border-radius: 0.5rem;
        }

        .MuiTreeItem-root {
          border-radius: 0.5rem;
          transition: background-color 125ms;
          &:hover {
            @include alpha-prop(background-color, $light, -0.95);
          }
        }

        .MuiTreeItem-label,
        .MuiTreeItem2-label {
          font-size: 0.9rem;
          font-family: $sans-serif;
        }

        .Mui-selected {
          @include alpha-prop(background-color, $light, -0.925);
          &:hover {
            @include alpha-prop(background-color, $light, -0.925);
          }
        }
      }
    }

    @include bp(non-desktop) {
      .panel-content {
        // height: 100%;
        overflow: auto;
      }
    }
  }
}
