@use "../shared.scss" as *;

#RoomContainer {
  background: linear-gradient(
    to bottom,
    $bg-4 0%,
    $bg-3 15%,
    $bg-2 35%,
    $bg-1 55%
  );
  height: 100vh;
}

#Room {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;

  // CONFIGURE ANIMATED BACKGROUND

  // GRAYSCALE:
  background: linear-gradient(315deg, $dark-4 3%, $dark-2 50%, $dark-4 98%);

  // COLORFUL:
  //  background: linear-gradient(
  // 315deg,
  // $sienna 3%,
  // $blush 38%,
  // $tuscan 68%,
  // $garnet 98%
  // );

  // ORIGINAL
  // background: linear-gradient(
  //   315deg,
  //   rgba(101, 0, 94, 1) 3%,
  //   rgba(60, 132, 206, 1) 38%,
  //   rgba(48, 238, 226, 1) 68%,
  //   rgba(255, 25, 25, 1) 98%
  // );
  animation: gradient 60s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

// ROOM SIZE INDICATOR: see `_screentest.scss` and `ScreenSizeDebug.tsx`
#RoomSize {
  background: $dark-4;
  padding: 1.5rem;
  display: none;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid $light;
  flex-direction: column;
  position: absolute;
  left: 1rem;
  top: 4rem;
  .row {
    align-items: baseline;
  }
  h1,
  h3 {
    font-size: 1.5rem;
    margin: 0;
    color: $light;
  }
  h3 {
    color: $light-1;
    margin: 0;
    width: 6.5rem;
  }
}
