@use "../shared.scss" as *;

#RoomContainer {
  background: linear-gradient(
    to bottom,
    $bg-4 0%,
    $bg-3 15%,
    $bg-2 35%,
    $bg-1 55%
  );
  height: 100vh;
}

#Room {
  align-items: center;
  background: linear-gradient(to bottom, $bg-4 25%, $bg-2 75%);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}

// ROOM SIZE INDICATOR: see `_screentest.scss` and `ScreenSizeDebug.tsx`
#RoomSize {
  background: $dark-4;
  padding: 1.5rem;
  display: none;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid $light;
  flex-direction: column;
  position: absolute;
  left: 1rem;
  top: 4rem;
  .row {
    align-items: baseline;
  }
  h1,
  h3 {
    font-size: 1.5rem;
    margin: 0;
    color: $light;
  }
  h3 {
    color: $light-1;
    margin: 0;
    width: 6.5rem;
  }
}
