@use "../shared" as *;

$content-gap: 0.5rem;
$content-height: 315px; // have to declare this for transitions...

//
// DIALOG STYLES
//
#SendMessageDialog {
  border: 4px solid $dark;
  background: linear-gradient(to bottom, $dark-1 0%, $dark 80%);
  display: flex;
  flex-direction: column;
  gap: $content-gap;
  height: $content-height;
  justify-content: center;
  position: relative;
  width: calc(100vw - 8px);
  transition: height 500ms;
  .dialog-content {
    @include flex(column, $content-gap);
    align-items: center;
    border-radius: 0.5rem;
    height: $content-height;
    padding: 2rem 6rem 3rem;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease, transform 300ms ease;
    transition-delay: 250ms;
    > * {
      animation: slideUp 300ms ease;
    }
  }
  .actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .post-send-text {
    @include flex(column, 0.25rem);
    margin-bottom: 0.75rem;
    p {
      margin: 0;
      text-align: center;
    }
  }
  //
  // DIALOG CLOSED STYLES
  //
  &.hidden {
    height: 10px;
    transition: height $drawer-transition-speed;
    .dialog-content {
      height: 0;
      padding: 0;
      opacity: 0;
      transform: translateY($drawer-transition-height);
      transition: opacity 250ms ease, transform 250ms ease, height 250ms ease,
        padding 250ms ease;
      transition-delay: 0ms;
    }
  }
  //
  // INNER ELEMENT STYLES
  //
  button,
  input {
    background: $dark-transparent-2;
    border: 2px solid;
    border-radius: 0.5rem;
    @include alpha-prop(border-color, $light, -0.75);
    color: $light;
    transition: all 125ms ease;
    &:not(:disabled) {
      background-color: $dark-1;
      color: $light;
      cursor: pointer;
      &:focus,
      &:focus-within {
        background-color: $dark-2;
        @include alpha-prop(border-color, $sienna, -0.25);
        outline: none;
      }
      &:hover {
        @include alpha-prop(border-color, $sienna, -0.1);
      }
    }
    &:disabled {
      @include alpha-prop(color, $light, -0.9);
      @include alpha-prop(background-color, $dark, -0.75);
      @include alpha-prop(border-color, $light, -0.9);
    }
  }
  button {
    font-size: 1.15rem;
    padding: 0.75rem 1.25rem 0.75rem 1.5rem;
    svg {
      font-size: 1rem;
      margin-left: 0.75rem;
      &.check-icon {
        margin-left: 0.5rem;
        position: relative;
        right: -5px;
      }
      &.try-again-icon {
        margin-left: 0;
        margin-right: 0.4rem;
        position: relative;
        left: -5px;
      }
    }
  }
  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: $content-gap;
  }
  h1 {
    color: $light;
    margin: 0 0 0.25rem;
  }
  input {
    padding: 0.75rem 1rem;
    width: 420px;
  }
  label,
  p {
    color: $light;
    font-family: $sans-serif;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  button#CloseSendMessage {
    border: none;
    border-radius: 1.5rem;
    background: transparent;
    @include alpha-prop(color, $light, -0.75);
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.25rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    &:hover,
    &:focus,
    &:focus-within {
      border: none;
      color: $light-1;
    }
  }

  // LIGHT THEME (KEEP?)
  .dialog-content.light {
    @include flex(column, 0.25rem);
    @include alpha-prop(background-color, $light, -0.1);
    align-items: center;
    border: 2px solid $dark;
    border-radius: 0.5rem;
    // padding: 3rem 6rem 1.5rem;
    h1,
    p {
      color: $dark;
    }
  }
}
