_TODO.txt
_HOWTO.txt
.ampt
.ampt*rc
.ampt/
.env
.vscode/
.DS_Store
data/
node_modules/
node_modules.amptrc
public/img/misc/
public/mp3/src/
public/sourcecode/
public/sourcecode-ref.txt
src/config/typing-dev.ts
static/
*.tsbuildinfo
