@use "./shared.scss" as *;

//
// ROOT STYLES
//
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 18px;
}

//
// BASE ELEMENT STYLES
// Abstracted so they can also apply to the content-editor
//
@include base-document-styles;

//
// UTILITY CLASSES
//
.flex {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.gap-025 {
  gap: 0.25rem;
}
.gap-05 {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.no-marg {
  margin: 0;
}
.b-marg-05 {
  margin-bottom: 0.5rem;
}
.b-marg-1 {
  margin-bottom: 1rem;
}
.b-marg-2 {
  margin-bottom: 2rem;
}
.t-marg-1 {
  margin-top: 1rem;
}
.t-marg-2 {
  margin-top: 2rem;
}
.no-pad {
  padding: 0;
}

//
// APPWIDE CLASSES
//
.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.hero {
  align-items: center;
  background-color: $dark;
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: $hero-height-desktop; // overridden for mobile
  justify-content: flex-end;
  width: 100%;
}

.hero-content {
  color: $light;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 1920px;
  padding: 6rem 1.5rem 1rem;
  width: calc(100% - 3rem);
  :last-child {
    margin-bottom: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
  max-width: 1920px;
  width: calc(100% - 3rem);
  opacity: 1;
  transition: opacity 500ms ease;
  &.loading {
    opacity: 0;
    transition: opacity 250ms ease;
    pointer-events: none; // Prevent interaction during fade
  }
}

// Restrict to roughly 90 chars per line on desktop
.content-restricted {
  max-width: 900px;
}

.reveal-on-scroll {
  --reveal-distance: 30px;
  --reveal-duration: 300ms;

  opacity: 0;
  transform: translateY(var(--reveal-distance));
  transition: opacity var(--reveal-duration) ease,
    transform var(--reveal-duration) ease;

  &.horizontal {
    transform: translateX(var(--reveal-distance));
  }

  &.shown {
    opacity: 1;
    transform: translateY(0);
  }
  &.horizontal.shown {
    transform: translateX(0);
  }
}

.cms-html {
  // Remove top margin from the very first child element
  > *:first-child {
    margin-top: 0;
  }

  h4,
  h5,
  h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  ol,
  ul {
    padding-left: 1.5rem;
    margin-bottom: 0.75rem;
  }

  img {
    max-width: calc(100vw - 3rem);
    width: 100%;
  }

  // Style Quill UI elements to match the disc bullets used in Company/Links
  .ql-ui {
    display: inline-block;
    background-color: transparent;
    border: 2px solid $light;
    border-radius: 10px;
    height: 0.25rem;
    width: 0.25rem;
    margin-right: 0.5rem;
  }

  // Remove default list styling since we're using .ql-ui
  ul li,
  ol li {
    list-style-type: none;
  }
}

.bg-light {
  background: $light;
}
.bg-mint {
  background: $mint;
}
.bg-aqua {
  background: $aqua;
}
.bg-lavendar {
  background: $lavendar;
}
.bg-sienna {
  background: $sienna;
}
.bg-coral {
  background: $coral;
}

//
// CAROUSEL STUFF
//

$carousel_final_max_width: 60vw;
$carousel_final_max_height: 70vh;

.embla {
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  min-width: calc(var(--slide-size) + calc(var(--slide-spacing) * 2));

  @include bp(2xl) {
    min-width: calc(
      min(
        calc(var(--slide-size) + calc(var(--slide-spacing) * 2)),
        $carousel_final_max_width
      )
    );
  }

  position: relative;

  .horizontal {
    &.embla__controls {
      flex-direction: column;
    }
    .embla__button__svg {
      transform: rotate(90deg);
    }
    .embla__button--prev {
      margin-bottom: 1.5rem;
    }
    .embla__button--next {
      margin-top: 1.5rem;
    }
  }

  // VERTICAL: controls are BELOW the carousel
  .vertical {
    .embla__button--prev {
      margin-right: 1.5rem;
    }
    .embla__button--next {
      margin-left: 1.5rem;
    }
  }
}

.embla__viewport-wrapper {
  flex: 1;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: -1.5rem;
    width: 100%;
    height: 100%;
    border: 2px solid $light-2;
    pointer-events: none;
    top: -1.5rem;
  }
  &.reverse {
    &::before {
      right: auto;
      left: -1.5rem;
    }
  }
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__number {
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  width: 100%;
  user-select: none;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2rem;
  height: 2rem;
  z-index: 1;
  border-radius: 50%;
  color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__buttons__horizontal {
  .embla__button--prev {
    margin: 1rem 0 0.5rem !important;
  }
  .embla__button--next {
    margin: 0 !important;
  }
}

.embla__button:disabled {
  color: $light-5;
}

.embla__button__svg {
  width: 50%;
  height: 50%;
}

.embla__controls {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  // margin-left: -0.33rem;
}

.embla__dot {
  -webkit-appearance: none;
  appearance: none;
  background-color: #0000;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:after {
    box-shadow: inset 0 0 0 2px $light-2;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: "";
    transition: background-color 250ms;
  }
  &:hover {
    &:after {
      @include alpha-prop(background-color, $louise, -0.5);
      // background-color: $louise;
    }
  }
}

.embla__dot--selected:after {
  background: $louise !important; // override hover
  box-shadow: inset 0 0 0 2px $light-4;
}

.carousel-slide {
  background: #f0f2;
  background-size: cover;
  background-position: center;
  height: var(--slide-height);
  width: 100%;
}

.synced-carousels {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}
